@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: #f2ebe1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container img{
    width: 200px;
}

.title{
    font-size: 35px;
    font-weight: 600;
    color: #df6868;
}

.desc{
    font-size: 15px;
    font-weight: 600;
    color: rgb(76, 76, 76);
}

.short-desc{
    color:  rgb(76, 76, 76);
    font-size: 13px;
    font-weight: 300;
}
footer{
    color: #fff;
    width: 100%;
    background-color: #df6868;
    padding: 20px;
}
footer p{
    text-align: center;
    font-size: 13px;
    font-weight: 200;
}